<html>
  <head></head>
  <body>
    <h1>Your album has been added!</h1>
      <div>
        Title: <%=@album.title%></a>
        Release year: <%= @album.release_year %>
      </div>
      <div>
      <a href = "/albums">To see a full list of albums click here.</a>
      </div>
  </body>
</html>