<html>
  <head></head>
  <body>
    <h1>Your artist has been added!</h1>
      <div>
        Title: <%=@artist.name%></a>
        Release year: <%= @artist.genre %>
      </div>
      <div>
      <a href = "/artists">To see a full list of artists click here.</a>
      </div>
  </body>
</html>