<html>
  <head></head>
  <body>
    <h1>Your artist has been added!</h1>
      <div>
        Artist name: <%=@artist.name%></a>
        Genre: <%= @artist.genre %>
      </div>
      <div>
      <a href = "/artists">To see a full list of artists click here.</a>
      </div>
  </body>
</html>