<html>
  <head></head>
  <body>
    <h1>WELCOME</h1>
    <p>
      <a href = '/artists'>List of artists</a>
      <a href = '/albums'>List of albums</a>
      <a href = '/artists/new'>Add artist</a>
      <a href = '/albums/new'>Add albums</a>
    </p>
  </body>
</html>