<html>
  <head></head>
  <body>
    <h1> Add an album: </h1>
    <form action="/albums" method="POST">
      <label for="title">Title:</label><br>
      <input type="text" id="title" name="title"><br>
      <label for="release_year">Release year:</label><br>
      <input type="text" id="release_year" name="release_year"><br><br>
      <input type="submit" value="Submit the form">
    </form>
  </body>
</html>